Checks: "*,-readability-named-parameter,-clang-analyzer-core.uninitialized.Assign,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-llvm-*,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-bounds-constant-array-index,-performance-*,-cppcoreguidelines-pro-type-reinterpret-cast,-cert-err58-cpp,-google-runtime-int,-google-readability-todo"
