[submodule "external/imgui/imgui"]
	path = external/imgui/imgui
	url = git@github.com:ocornut/imgui.git
	branch = origin/v1.51
[submodule "external/gaf"]
	path = external/gaf
	url = git@github.com:madeso/gaf.git
[submodule "external/rapidjson"]
	path = external/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "external/IconFontCppHeaders"]
	path = external/IconFontCppHeaders
	url = git@github.com:juliettef/IconFontCppHeaders.git
[submodule "external/ctti"]
	path = external/ctti
	url = https://github.com/Manu343726/ctti.git
[submodule "external/rtmidi"]
	path = external/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "external/stb"]
	path = external/stb
	url = git@github.com:nothings/stb.git
[submodule "external/range-v3"]
	path = external/range-v3
	url = git@github.com:ericniebler/range-v3.git
